@charset "utf-8";
/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,img,p,ol,ul,li,dl,form,legend,dd,dt,div{margin:0;padding:0;}
.clear:after{content:".";display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}
img{border:0;}
body{color:#888888;font:14px Verdana, Geneva, sans-serif;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
ul,ol{list-style:none;}
a{text-decoration:none;}
input{outline:none;}
input{border:none;}
